# Exclude everything
*

# Only allow necessary files
!app.py
!db.py
!requirements.txt
!VERSION
!tailwind.css
!tailwind.config.js
!templates/
!templates/**
!translations/
!translations/**
!static/
!static/**
