# Gevoelige configuratie
.env

# Gegenereerde bestanden
static/tailwind.css
node_modules/
translations/**/*.mo

# Database
*.db
*.sqlite
*.sqlite3
data/

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db
.venv
